<form method="POST" action="/signup">
    <div class="form-group">
        <input type="text" name="name" id="name" class="form-control" placeholder="First name">
    </div>
    <div class="form-group">
        <input type="text" name="lstname" id="lstname" class="form-control" placeholder="Last name">
    </div>
    <div class="form-group">
        <input type="text" name="email" class="form-control" id="email" placeholder="example@email.com">
    </div>
    <div class="form-group">
        <input type="password" name="password" class="form-control" id="password" placeholder="Password">
    </div>
    <div class="form-group">
        <input type="password" name="passwordComp" class="form-control" id="passwordComp"
            placeholder="Confirm password">
    </div>
    <div class="form-group">
            <label for="avatar">Choose your avatar..</label>
            <input type="file" name="avatar" class="form-control-file" id="avatar">
        </div>
    <button class="btn btn-primary btn-sm btn-block" type="submit">Sign up</button>
</form>