<a class="navbar-brand myfontlogo" href="/">
    <img src="https://res.cloudinary.com/saponestore/image/upload/v1559850476/SaponeLogo_enhy98.png" width="45"
        height="45" class="d-inline-block align-top mr-2" alt="">
    Sapone
</a>