<%- include('../components/html/header.ejs') %>
</head>

<body>
        <%- include('../components/html/nvadmin.ejs') %>

    <div class="container d-flex justify-content-center align-items-center vh-100">
        <div class="row center">
            <div class="col-12">
                <h1 class="max-font">SAPONE</h1>
            </div>
            <div class="col-12">
                <h2>Jabones 100% artesanales</h2>
            </div>
            <div class="col-12">
                <span> hola Usuario</span>
            </div>
        </div>
    </div>


    <%- include('../components/html/tail.ejs') %>